@model SistemaWebAlumnos.Models.Alumno

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @using (Html.BeginForm("Delete", "Alumno", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.AlumnoID)
        <p>
            @Html.LabelFor(model => model.Nombre):
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </p>
        <p>
            @Html.LabelFor(model => model.Apellido):
            @Html.EditorFor(model => model.Apellido)
            @Html.ValidationMessageFor(model => model.Apellido)
        </p>
        <p>
            @Html.LabelFor(model => model.DNI):
            @Html.EditorFor(model => model.DNI)
            @Html.ValidationMessageFor(model => model.DNI)
        </p>
        <p>
            @Html.LabelFor(model => model.Email):
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </p>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Volver al index", "Index")
    }
</div>
