@model SistemaWebAlumnos.Models.Alumno
@{
    ViewBag.Title = "Details";
}
<div>
    <h2>Details</h2>
    <p> @Html.DisplayNameFor(model => model.Nombre): @Html.DisplayFor(model => model.Nombre) </p>
    <p> @Html.DisplayNameFor(model => model.Apellido): @Html.DisplayFor(model => model.Apellido) </p>
    <p> @Html.DisplayNameFor(model => model.DNI): @Html.DisplayFor(model => model.DNI) </p>
    <p> @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email) </p>
    <p> @Html.ActionLink("Back to List", "Index") </p>
</div>
